* {
    margin: 0;
    padding:0;
}

body{
    font-size: 16px;
    font-family: "Liberation Sans", sans-serif;
    background: #f3f3f3;
}

#nav{
    background-color: white;
    border-bottom: solid 1px black;
    height: 45px;
    position: fixed;
    width: 100%;
    top:0;

}

#area{
    width: 720px;
    margin: 0 auto;
}

#logo{
    float: left;
}

#menu{
    float: right;
    padding: 10px 0;
}

/*Formatação*/
a{
    text-decoration: none;
    padding: 5px;
}
/*Visitados*/
a:visited{
color: #838383;
}
/*Não visitados*/
a:link{
    color:#838383;
}
/*Hover*/
a:hover{
    background: #b9c941;
}
/*Ativos*/
a:active{
    color: #BCBCBC
}

/*Classes*/

.verde{
    color: #7aa522;
}

.bloco-postagem{
    width: 720px;
    margin: 0 auto;
    padding:5px;
    margin-bottom: 5px;
}

.postagem{
    background: #fff;
    width: 720px;
    margin: 55px auto 10px auto;
}

.titulo-postagem{
    margin: 3px;
    padding:3px;
}

.texto-postagem{
    font-size: 16px;
    text-align: justify;
    margin:0px 5px 10px 0px ;
}

.data-postagem{
    display: block;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}

.imagem{
    float: left;
    margin: 0px 10px 10px 5px;
}

.postado{
    border-left:5px solid #f8f8f8;
    padding-left: 5px;
    padding-bottom: 10px;
    display: block;
}