* {
    margin: 0;
    padding:0;
}

body{
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f3f3f3;
}

img{
    width: 170px;
    height: 170px;
    display: block;
    margin: 5px;
}

#nav{
    background-color: white;
    border-bottom: solid 1px black;
    height: 45px;
}

#area{
    width: 720px;
    margin: 0 auto;
}

#logo{
    float: left;
}

#menu{
    float: right;
    padding: 10px 0;
}

/*Formatação*/
a{
    text-decoration: none;
    padding: 5px;
}
/*Visitados*/
a:visited{
color: #838383;
}
/*Não visitados*/
a:link{
    color:#838383;
}
/*Hover*/
a:hover{
    background: #b9c941;
}
/*Ativos*/
a:active{
    color: #BCBCBC
}

/*Classes*/

.verde{
    color: #7aa522;
}

.bloco-postagem{
    padding: 10px;
    margin: auto 0;
}

.postagem{
    border:1px solid black;
    width: 600px;
    height: auto;
}

.titulo-postagem{
    margin: 3px;
    padding:3px;
}

.texto-postagem{
    padding: 3px 5px 3px 5px;
    font-size: 16px;
}